@import "tailwindcss";

:root {
  --color-dark: #10131c;
  --color-accent: #8c7df8;
  --color-accent-light: #bab1fa;
  --color-beige: #ebe7dc;
  --color-cream: #fdf8ee;
  --color-muted: #d5dbe6;
  --color-yellow: #fdd17c;
}

@theme inline {
  --font-sans: var(--font-plus-jakarta);
  --font-serif: var(--font-instrument-serif);
  --font-mono: var(--font-inter);
}

body {
  background-color: var(--color-dark);
  color: var(--color-muted);
  font-family: var(--font-plus-jakarta), sans-serif;
}
